python-dateutil>=1.5
feedparser
gdata 
python-ldap
lxml
Mako
python-openid
psycopg2
Babel
pydot
pyparsing==1.5.7
reportlab
simplejson
pytz
vatnumber
vobject
PyWebDAV
Werkzeug
xlwt
PyYAML
ZSI
s3cmd>=1.0.1
Fabric>=1.0.0
Pycco>=0.3.0
pylint>=0.26.0
pyflakes>=0.6.1

